<!DOCTYPE html>
html(lang="es")
head
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	meta(charset="UTF-8")
	title Document
	link(rel="stylesheet", href="./recursos/css/estilo.css")
body
	header.encabezado
		nav.menu
			
		.elem_01 img
		.elem_02 img
		
	main.contenedor
		h1 hola mund
		h1 Seccion fotos
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, oditttt.
		article 
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint corporis tenetur quas mollitia consequatur dicta a nihil distinctio rem ex?
		.ele asdasd
	footer.pie
		
	